* {
  margin: 0;
  padding: 0;
}

/* valores globales */
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* encabezado */
.header {
  display: flex;
  justify-content: space-between;
}
/* nav bar */
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  padding: 15px;
}
.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.banner {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}
.title {
  font-size: 3em;
  font-weight: 500;
}
.resume {
  width: 45%;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
}
.btn_primary {
  background-color: red;
  color: black;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  /* font-size: 16px; */
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}
.btn_primary:hover {
  background-color: black;
  color: red;
  font-weight: bold;
}
.img_profile {
  width: 450px;
  height: 550px;
  border-radius: 50%;
}
