* {
  margin: 0;
  padding: 0;
}

/* valores globales */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}
/* encabezado */
.header {
  display: flex;
  justify-content: space-between;
}
/* nav bar */
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  padding: 15px;
}
.nav ul li a {
  text-decoration: none;
  color: rgb(251, 1, 1);
  font-weight: 600;
}
.banner {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}
.title {
  font-size: 3em;
  font-weight: 500;
  color: #ff0000;
}
.resume {
  width: 45%;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #ff0000;
}
.btn_primary {
  background-color: red;
  color: black;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  /* font-size: 16px; */
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}
.btn_primary:hover {
  background-color: black;
  color: red;
  font-weight: bold;
}
.img_profile {
  width: 350px;
  height: 450px;
  border-radius: 50%;
}

/* section works */
.section_works {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
}

.card {
  display: flex;
}

.card div img {
  width: 250px;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
  margin: 5px;
  border: solid 2px;
  box-shadow: 0 15px 25px;
}
.text_works {
  font-size: 12em;
  margin-bottom: 30px;
  font-weight: 300;
}
.container_detail {
  margin-left: 30px;
}

.container_detail p {
  margin-top: 20px;
  width: 100%;
}
.label_dark {
  background-color: #f1f4fa;
  color: rgb(255, 0, 0);
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: bold;
}
.text_light {
  color: #ff0000;
}

.container_detail a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

hr {
  height: 0.5px;
  background-color: red;
  margin: 50px;
}
.link_portafolio {
  color: rgb(1, 1, 1);
  text-decoration: none;
  transition: 0.3s;
}
.link_portafolio:hover {
  color: rgb(151, 77, 77);
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
}
